.contents {
  display: flex;
  width: auto;
  height: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.contents .GeneralChat {
  width: 800px;
  height: 500px;
  border: 3px solid #692be2;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
}

.contents .GeneralChat #message {
  padding: 0 40px;
  margin-top: 30px;
  height: 420px;
}
.contents .GeneralChat #message ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}
.contents .GeneralChat #message ul #username {
  font-weight: 700;
}
.contents .GeneralChat #message ul #textcont {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-left: 10px;
  min-width: 100px;
  min-height: 35px;
  background-color: #e1e3ef;
  border-radius: 10px;
}
.contents .GeneralChat .writebox {
  display: flex;
  justify-content: center;
  height: 30px;
}
.contents .GeneralChat .writebox input[type="text"] {
  width: 340px;
  height: 30px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e1e3ef;
}
.contents .GeneralChat .writebox input[type="submit"] {
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid;
  color: #e1e3ef;
  font-weight: 700;
  border-radius: 10px;
  background-color: #692be2;
  cursor: pointer;
}
