<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js" integrity="sha512-nYuHvSAhY5lFZ4ixSViOwsEKFvlxHMU2NHts1ILuJgOS6ptUmAGt/0i5czIgMOahKZ6JN84YFDA+mCdky7dD8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/nav.css" />
    <link rel="stylesheet" href="/chat.css" />
    <link rel="stylesheet" href="/main.css" />
    <title>Chat</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="#">ChatSystem.V2</a></li>
        <li><span id="Name"><%=name %> </span></li>
        <li><a href="/logout">logout</a></li>
      </ul>
    </div>
    <div class="contents">
      <div class="GeneralChat">
        <div id="message"></div>
          <div class="writebox">
            <input type="text" name="textmessage" placeholder="Write Somethings.." value="" id="textmessage">
            <input type="submit" name="send" value="Send" id="send">
          </div>
        </div>
      </div>
    </div>
    <script src="/chat.js"></script>
  </body>
</html>
